.btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
  transition: all 0.3s;
}

.primary {
  background-color: #3b82f6;
  color: white;
  border: 1px solid transparent;
}

.outline {
  background-color: transparent;
  color: #3b82f6;
  border: 1px solid #3b82f6;
}

.default {
  background-color: #e5e7eb;
  color: #333;
  border: 1px solid #ccc;
}

.text {
  background-color: transparent;
  color: #3b82f6;
  border: none;
}

.link {
  background-color: transparent;
  color: #3b82f6;
  border: none;
  text-decoration: underline;
}
